.input
    display: flex
    flex-direction: column
    max-width: 427px
    width: 100%
    border: none
    margin: 0
    padding: 0
    position: relative

    @media screen and (max-width: 1439px)
        width: 320px

    @media screen and (max-width: 1119px)
        width: 696px

    @media screen and (max-width: 767px)
        width: 100%

    &__title
        @include gilroy-text
        font-size: 16px
        line-height: 20px
        color: #575757

        @media screen and (max-width: 767px)
            font-size: 14px
            line-height: 19px

    &__info
        @include nekst-text
        font-size: 30px
        line-height: 36px
        display: block
        width: 427px
        height: 68px
        background: #F3F3F4
        border: none
        border-radius: 16px
        padding: 16px 16px 16px 24px
        margin-top: 24px
        padding: 16px 16px 16px 25px
        color: #575757
        box-sizing: border-box
        outline: none
        -moz-appearance: textfield

        @media screen and (max-width: 1439px)
            width: 320px
            padding-left: 28px

        @media screen and (max-width: 1119px)
            width: 696px
            padding-left: 24px

        @media screen and (max-width: 767px)
            margin-top: 8px
            padding-left: 20px
            width: 100%
            font-size: 22px
            line-height: 20px
            height: 60px

        &::-webkit-outer-spin-button
            -webkit-appearance: none

        &::-webkit-inner-spin-button
            -webkit-appearance: none

        &:focus
            background-color: transparent
            border: 1px solid #F3F3F4

        &:disabled
            opacity: 0.6

    &__icon
        @include nekst-text
        color: #575757
        position: absolute
        bottom: 4px
        right: 10px
        padding: 16px 16px 16px 24px
        margin: 0
        font-size: 30px

        @media screen and (max-width: 767px)
            font-size: 22px
            line-height: 20px
            right: 4px

        &_type
            &_percent
                display: flex
                width: 31px
                height: 23px
                background: #EBEBEC
                border-radius: 16px
                font-size: 20px
                line-height: 120%
                bottom: 7px
                right: 7px
                justify-content: center
                align-items: center

                @media screen and (max-width: 767px)
                    width: 28px
                    height: 16px
                    border-radius: 12px
                    bottom: 6px
                    right: 6px
                    font-size: 22px

    &__range
        -webkit-appearance: none
        appearance: none
        width: 379px
        margin: -2px auto 0
        height: 2px

        @media screen and (max-width: 1439px)
            width: 270px

        @media screen and (max-width: 1119px)
            width: 648px

        @media screen and (max-width: 767px)
            width: 86%

        &::-webkit-slider-runnable-track
            margin-top: -2px
            -webkit-appearance: none
            color: #FF9514

        &::-webkit-slider-thumb
            -webkit-appearance: none
            background: #FF9514
            border-radius: 50px
            cursor: pointer
            width: 20px
            height: 20px

        &::-moz-range-track
            -moz-appearance: none
            width: 379px
            margin: -2px auto 0
            height: 2px

            @media screen and (max-width: 1439px)
                width: 270px
            
            @media screen and (max-width: 1119px)
                width: 648px

            @media screen and (max-width: 767px)
                width: 86%

        &::-moz-range-thumb
            -moz-appearance: none
            background: #FF9514
            border-radius: 50px
            cursor: pointer
            width: 20px
            height: 20px

        &_type
            &_car-coast
                background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 39%, #E1E1E1 39%, #E1E1E1 100%)

                &::-moz-range-track
                    background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 39%, #E1E1E1 39%, #E1E1E1 100%)

            &_initial-fee
                background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 6%, #E1E1E1 6%, #E1E1E1 100%)
                z-index: 2

                &::-moz-range-track
                    background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 6%, #E1E1E1 6%, #E1E1E1 100%)
                    z-index: 2

            &_rental-range
                background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 50%, #E1E1E1 50%, #E1E1E1 100%)

                &::-moz-range-track
                    background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 50%, #E1E1E1 50%, #E1E1E1 100%)