@import '../vendor/normalize.css';
@import '../vendor/fonts.css';
.page {
  max-width: 1440px;
  min-width: 320px;
  display: block;
  margin: 0 auto;
}

.calculator {
  padding: 213px 47px;
}
.calculator__title {
  font-family: Nekst, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  max-width: 750px;
  margin: 0;
  line-height: 90%;
}
.calculator__form {
  display: flex;
  gap: 32px;
  max-width: calc(100% - 94px);
  width: 100%;
  padding: 32px 0 51px;
}

.input {
  display: flex;
  flex-direction: column;
  max-width: 427px;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.input__title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}
.input__info {
  font-family: Nekst, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  display: block;
  width: 427px;
  height: 68px;
  background: #F3F3F4;
  border: none;
  border-radius: 16px;
  margin-top: 24px;
  padding: 16px 16px 16px 25px;
  color: #575757;
  box-sizing: border-box;
  outline: none;
  -moz-appearance: textfield;
}
.input__info::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input__info::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input__info:focus {
  background-color: transparent;
  border: 1px solid #F3F3F4;
}
.input__info:disabled {
  opacity: 0.6;
}
.input__icon {
  font-family: Nekst, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #575757;
  position: absolute;
  bottom: 19px;
  right: 26px;
  margin: 0;
  font-size: 30px;
}
.input__icon_type_percent {
  display: flex;
  width: 69px;
  height: 54px;
  background: #EBEBEC;
  border-radius: 16px;
  font-size: 20px;
  line-height: 120%;
  bottom: 7px;
  right: 9px;
  justify-content: center;
  align-items: center;
}
.input__range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 379px;
  margin: -2px auto 0;
  height: 2px;
}
.input__range::-webkit-slider-runnable-track {
  margin-top: -2px;
  -webkit-appearance: none;
  color: #FF9514;
}
.input__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #FF9514;
  border-radius: 50px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.input__range::-moz-range-track {
  -moz-appearance: none;
  width: 379px;
  margin: -2px auto 0;
  height: 2px;
}
.input__range::-moz-range-thumb {
  -moz-appearance: none;
  background: #FF9514;
  border-radius: 50px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.input__range_type_car-coast {
  background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 39%, #E1E1E1 39%, #E1E1E1 100%);
}
.input__range_type_car-coast::-moz-range-track {
  background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 39%, #E1E1E1 39%, #E1E1E1 100%);
}
.input__range_type_initial-fee {
  background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 6%, #E1E1E1 6%, #E1E1E1 100%);
}
.input__range_type_initial-fee::-moz-range-track {
  background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 6%, #E1E1E1 6%, #E1E1E1 100%);
}
.input__range_type_rental-range {
  background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 50%, #E1E1E1 50%, #E1E1E1 100%);
}
.input__range_type_rental-range::-moz-range-track {
  background: -webkit-linear-gradient(left, #FF9514 0%, #FF9514 50%, #E1E1E1 50%, #E1E1E1 100%);
}/*# sourceMappingURL=index.css.map */